.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"

      .row
        .col-md-12
          %h4 Main Thumbnail
          .fileinput-preview.thumbnail.cover-image-upload#main_image_uploader
            = f.fields_for :captured_images, @main_image do |images|
              = image_tag images.object.content
              = images.file_field :content
              = images.hidden_field :status, value: "main"
        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              .image-upload
                = f.fields_for :captured_images, @sub_image do |image|
                  - @prototype.captured_images.sub.each do |image|
                    = image_tag image.content
                  = image.file_field :content
                  = image.hidden_field :status, value: "sub"

      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
        .col-md-12
          %h4 Tag List
          .row
            = f.fields_for :tags, @tag_list do |tag|
              .col-md-3
                = tag.text_field :name, placeholder: "Web Design", id:"prototype_tag_0"
                = tag.hidden_field :_destroy
      .row.text-center.proto-btn
        = f.submit "EDIT", id: "button", class: "btn btn-lg btn-primary btn-block"
