<% if user_signed_in? %>
  <% if prototype.likes_user(current_user.id) %>
    <%= button_to prototype_like_path(prototype_id: prototype.id), method: :delete, id: "like-button", remote: true do %>
      <%= image_tag("icon_red_heart.svg") %>
      <span>
        <%= prototype.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to prototype_likes_path(prototype), id: "like-button", remote: true do %>
      <%= image_tag("icon_heart.svg") %>
      <span>
        <%= prototype.likes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag("icon_heart.svg") %>
    <span>
      <%= prototype.likes_count %>
    </span>
<% end %>
